<header class="orange-gradient-bg">
    <nav class="flex-row-spaceEvenly">
        <h1>My TodoList</h1>
        <ul class="flex-row-center">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">About</a></li>
        </ul>
    </nav>
</header>